<div id="searchModal" class="search-modal">
    <div class="search-modal-content">
        <div class="search-modal-header">
            <h3>Search Results</h3>
            <button class="close-search-btn" onclick="closeSearchModal()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div id="searchResults" class="search-results">
            <!-- Results will be populated here -->
        </div>
    </div>
</div> 